html, body {
	 height: 100%;
	 background-color: #f7f7f7;
}

.vertical-center {
	top: 50%;
	left: 50%;
	position: fixed;

	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}

#logo {
	width: 50%;
	max-width: 128px;
	height: auto;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
	background-color: white;
}

.search-bar {
	padding-left: 20%;
	padding-right: 20%;
	height: 50px;
}

.top-search-bar {
	background: #dddddd;
	width: 100%;
	height: 8%;

	min-height: 50px;
}

#top-bar-inner {
	height: 100%;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
}

.info-div {
	height: 92%;
}

.content-div {
	width: 80%;
	border-right: 2px solid #dddddd;
	margin-bottom: 15px;
	margin-top: 15px;
}

.recommendation-div {
	width: 20%;
	margin-top: 15px;
}
